*{
	margin: 0;
	padding: 0;
}


body{
	background: url(img/fond.png) ;
}

.clear{
	clear: both;
}

footer, header, #conteneur{
	width: 1000;
	box-shadow: 2px 2px 2px 2px grey;
}


/******************footer**********************/

footer{
	background: #3fc6fa;
	height: 33px;
	border-radius: 0 0 5px 5px;
	text-align: center;
	



}

footer a{ /*  les liens dans le footer*/

	float: left;
	display: block;
	text-decoration: none;
	margin: 10px;
	margin-left: 50px;
	
	font-size: 2px;
	
	color: white;
	text-align: center;
	
	
}

footer a:hover{
	text-decoration: underline;
}

/******************footer*******************/

/*********************header******************/

header{
	height: 80px;
}

.a, .b, .c, .d{
	float: left;
}
/*********************/
.b h1{

	font-weight: 18px;
	font-style: italic;
}


.b p{

	color: pink;
	font-size: 10px;
}

.b{
	margin-left: 10px; 
}
/***************************************/





.d{/* Debut dans le coin droit du header */
	float: right;
	background: #3fc9fa;
	height: 80px;
}
.compte{
	text-align: center;
	font-size: 10px;
	color: white;
}

.panier, .panier1{
	float: left;
	color: white;
	font-size: 12px;

}

.panier1{
	border-bottom: 5px;
	border-top:  1px;
}
/* fin dans le coin droit du header */



/*********************header******************/
