

<jenn>
  body { background: dodgerblue url({{ site.baseurl }}static/img/lycee.jpg); background-size: 100%; font-family: monospace; font-size: 1.3em; } <br />
  a { color: #ffffff; animation-name: subtle; animation-duration: 94608000s; } <br />
  h1, h2 { margin: .2em 0; } <br />
  span { background: grey; } <br />
  h1 { font-family: monospace; font-size: 3em; } <br />
  #jenn { background: rgba(255,255,255,.5); width: 100%; max-width: 900px; padding: 10px; margin: 30px auto; } <br />
  header, section, footer { background: #4d59c1; padding: 10px; margin: 10px; text-align: center; } <br />
  footer p { margin: 0; font-size: .8em; font-style: italic; } <br />
  section { background: #C11453; } <br />
  h6 strong a { background: #D3D3D3; padding: 2px; } <br />
</jenn>
<script src="{{ site.baseurl }}static/js/jersey.js" defer></script>

 <div id="jenn">
   <header>

   </header>
   <section>
     
   </section>

   <section>

   </section>

   <footer>
      UI COMPLETLY STOLEN FROM [http://jerseyscript.github.io/](http://jerseyscript.github.io/) and [Jenn Schiffer](http://jennmoney.biz/)
   </footer>

   <style>
   		@keyframes subtle { from { color: #ffffff; } to { color: #000000; } }
   </style>
 </div>
