

<jenn>
  body { background: url({{ site.baseurl }}static/img/lycee.jpg);  background-size: 100%; font-family: monospace; font-size: 1.3em; } <br />
  a { color: white; animation-name: subtle; animation-duration: 94608000s; } <br />
  h1, h2 { margin: .2em 0; } <br />
  span { background: grey; } <br />
  h1 { font-family: monospace; font-size: 3em; } <br />
  #jenn { background: rgba(255,255,255,.5); width: 100%; max-width: 900px; padding: 10px; margin: 30px auto; } <br />
  header, section, footer { background: #4d59c1; padding: 10px; margin: 10px; text-align: center; } <br />
  footer p { margin: 0; font-size: .8em; font-style: italic; } <br />
  section { background: #C11453; } <br />
  h6 strong a { background: #D3D3D3; padding: 2px; } <br />
</jenn>
<script src="{{ site.baseurl }}static/js/jersey.js" defer></script>


 <div id="jenn">
   <header>
    <h3> I miss C/C++ but not too much though</h3>
   </header>

  2016 was the year Deep Learning and Algorithm Training rose. 

  I once fell on this picture on a hiring website (LINKED Fucking in), one day and said to myself,
  why not try some OCR on that shit. [Tesseract](https://github.com/tesseract-ocr/tesseract/wiki/APIExample) is a C++ library for OCR, also was my excuse for going back to the C/C++
  style of life.


<section>
  <div style="text-align: left;">

    #include <tesseract/baseapi.h>
    #include <leptonica/allheaders.h>

    int main()
    {
      char *outText;

      //setting up Tesseract
      tesseract::TessBaseAPI *api = new tesseract::TessBaseAPI();
      if (api->Init(NULL, "fra")) {
            fprintf(stderr, "Could not initialize tesseract.\n");
            exit(1);
      }

      // giving an Image to Tesseract
      Pix *image = pixRead("/code/ressources/hired.png");
      api->SetImage(image);

      // result
      outText = api->GetUTF8Text();

      api->End();
      delete [] outText;
      pixDestroy(&image);

      return (0);
    }
  </div>
</section>


code:


   ```
     
     # (Tesseract needs to be installed)
     
     g++ main.cpp -W -Wall -Werror -llept -ltesseract -o meatGrinder 
     ./meatGrinder;

   ```


   output:

   ```
     OCR output: Rky skorrkaxky uvvuxzatozky bokttktz g buay yax Noxkj
   ```


Fuuuu, that was easy


BUT...

That shit smells like cesar (not to the salade recipe but an basic cipher to encode ascii-based tokens ), crypto 101.

<header>
 <h3>Caesar Cipher</h3>
</header>
![]({{ site.baseurl }}static/img/caesar.png =500x250)
<section>

    Caesar Cipher  is a shift cipher. That means, encoding a message is shifting each character of the message by a given number
    

    For example:
     if N = 5, 'JavaScript' will give 'OfafXhwnuy' after the encoding

  </section>


  <header>
    <h3>How I finally crack the message</h3>
  </header>
  <section>
     - X
       d <- distance to E

       for all in string
        - d

    frfr

   </section>

  
  code:
    
   
   ```

     git clone https://github.com/EarvinKayonga/Hired.git  code; 
     # (Tesseract needs to be installed)
     cd code
     make; ./meatGrinder;
   
   ```

 
  Result:


  ```
    OCR output:
    Rky skorrkaxky uvvuxzatozky bokttktz g buay yax Noxkj
    Most Used Letter: k
    Traduction: Les meilleures opportunites viennent a vous sur Hired
  ```

   Translation:

   `The best opportunities come to you on Hired?` ![]({{ site.baseurl }}static/img/dis.png =30x30)




  
   <header>
     <h3>A little bit of JavaScript</h3>
   </header>

  <div>
        <a href="http://tesseract.projectnaptha.com/">Tesseract.js</a> wraps an emscripten port of the Tesseract OCR Engine.
        Works on client side or server side. Just Magic !
  I push a simple online <a href="https://tesseract-node.herokuapp.com/)">service</a> on Heroku. After uploading a (PNG|TIFF|Etc) file,U will receive a string containing the words in the picture.
  </div>

   
   
   <section>
    @index.js
      "use strict";

      const express = require("express"),
            multer = require('multer'),
            Tesseract = require('tesseract.js'),
            fs = require('fs')

      const port = process.env.PORT || 4000,
            responseTime = require('response-time'),
            field = 'userPhoto',
            folder = './uploads',
            storage = multer.diskStorage({
              destination: (req, file, callback)  => {
                  callback(null, folder);
              },
              filename: (req, file, callback) => {
                  callback(null, file.fieldname + '-' + Date.now());
              }
            }),

            upload = multer({ storage : storage}).single(field);

      let app = express();

      app.use(responseTime())
      app.use(express.static('public/Ò'));


      app.post('/api/photo',(req,res) => {
          upload(req,res, (err) => {
              if(err)
                return res.json("Error uploading file.");

              let file = `${folder}/${req.file.filename}`;
              return Tesseract.recognize(file)
              .then((result) => {
                fs.unlink(file, (err) => {
                  if (err)
                      return res.status(500).json({err: err});

                  return res.status(200).json({
                    result: result.text
                  });
                });
              });
          });
      });

      app.listen(port,function(){
          console.log(`Working on port ${port}`);
      });

      @public/index.html
      
       <!DOCTYPE html>
        <html>

        <head>
            <meta charset="utf-8">
            <title>Tesseract Server Side</title>
        </head>

        <body>
            <form id="uploadForm" enctype="multipart/form-data" action="/api/photo" method="post">
                <input type="file" name="userPhoto" />
                <input type="submit" value="Upload Image" name="submit">
            </form>
        </body>

</html>
   </section>
   
    


  <iframe src="https://player.vimeo.com/video/202737163" width="640" height="330" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  <p><a href="https://vimeo.com/202737163">Playing with Tesseract</a> from <a href="https://vimeo.com/user54727870">Earvin Kayonga</a> on <a href="https://vimeo.com">Vimeo</a>.</p>



   <footer>
      UI COMPLETLY STOLEN FROM [http://jerseyscript.github.io/](http://jerseyscript.github.io/) and [Jenn Schiffer](http://jennmoney.biz/)
   </footer>

   <style>
   		@keyframes subtle { from { color: #ffffff; } to { color: red; } }
   </style>
 </div>
