<head>
  <title>Earvin Kayonga</title>
  <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="/static/main.css" />

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Simple presentation of Earvin Kayonga.">
  <link rel="icon" href="/static/img/favicon.ico" title="favicon">
  <meta name="author" content="Earvin Kayonga Rwogera">
  <meta name="Copyright" content="Earvin Kayonga">

</head>
